body {
  background-color: transparent;
  font-family: "VT323", "Kode Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #00FF00;
  font-size: x-large;
  margin: 1rem;
  overflow: hidden;
  animation: crtDistortion 0.1s infinite;

}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(50%);
}

a {
  text-decoration: underline currentColor;
  text-transform: uppercase;
  line-height: 1.5rem;

}

a:link {
  color: #00FF00;
}

a:visited {
  color: #00FF00
}


a::before {
  content: "> [";
  text-decoration: none;
  display: inline-block;

}

a::after {
  content: "]";
  text-decoration: none;
  display: inline-block;
}



.scanlines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 49%,
      rgba(0, 0, 0, 0) 50%);
  background-size: 100% 4px;
  pointer-events: none;
}
